@using Microsoft.AspNet.Identity

<!--
     _LoginPartial.cshtml
     Austin Cameron - Patrick Ross - Ryan Jameson
     Black Market Auction House
     This is the LoginPartial page for the Black Market Auction House
-->

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-left">
            @if (User.Identity.Name == "admin@example.com")
            {
                <li>
                    @Html.ActionLink("Manage Store", "Index", "AuctionItemsManager", routeValues: null, htmlAttributes: new { title = "Manage Store" })
                </li>
            }
            <li>@{Html.RenderAction("CartSummary", "ShoppingCart");}</li>
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "ChangePassword", "Manage", routeValues: null, htmlAttributes: new { title = "Manage Account" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-left">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", title = "Register New Account" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", title = "Login Exsisting Account" })</li>
    </ul>
}
