@using BlackMarketAuctionPart2.Models
@model Item

    <!--
         Details.cshtml
         Austin Cameron - Patrick Ross - Ryan Jameson
         Black Market Auction House
         This is the detailed view for an item on the auction list
    -->



@{
    ViewBag.Title = "Details";
}

<h2>Item: @Model.Name</h2>

<hr />
<ul>
    <li>Item: @Model.Name</li>
    <li>Price: @Model.Price</li>
    <li>Description: @Model.Description</li>
    <li>Category: $@Model.Category.Name</li>
    <li>
        Image: <br />
        <img src="@Model.ItemImage" alt="@Model.Name" />
    </li>
</ul>
<a href="@Url.Action("Browse", new { Category = Model.Category.Name })" class="btn btn-primary" title="Back"><i class="fa fa-chevron-left"> Back</i></a>