@using BlackMarketAuctionPart2.Models
@model Item

    <!--
         Details.cshtml
         Austin Cameron - Patrick Ross - Ryan Jameson
         Black Market Auction House
         This is the detailed view for an item on the auction list
    -->

@{
    ViewBag.Title = "Details";
}
<br />
<div class="itemcat1">
    <h1>@Model.Name</h1>
    <h3>@Model.Category.Name</h3>
</div>
<div class="thumb2">
    <div class="col-sm-3 col-md-6">
        <div class="thumbnail text-center" >
            <img src="@Model.ItemImage" alt="@Model.Name" />
            <div class="color1">
                <h3>@Model.Description</h3>
                <h4><a href="@Model.ItemLink">Wowhead Link</a></h4>
                <h3>$@Model.Price</h3>
            </div>
            <a href="@Url.Action("Browse", new { categories = Model.Category.Name })" class="Button" title="Back"><i class="fa fa-chevron-left"> Back</i></a>
            <a href="@Url.Action("addToCart", "ShoppingCart", new { id = Model.ItemID })" class="Button" title="Purchase"><i class="fa fa-shopping-cart"> Add to Cart</i></a>
        </div>
    </div>
</div>
    <div class="text-center">
       
    </div>
